/* CSS Reset */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    box-sizing: inherit;
}

/* Din CSS-kode under her */

.commentList {
    /* Parent til comment */
}
.comment {
    /* Parent til commentInfo og commentContent */
}
.commentInfo {
    /* Child av comment */
}
.commentContent {
    /* Child av comment */
}

body{
    display: grid;
    grid-template-rows: 200px auto 50px;
    min-height: 100vh;
}

header {
    background-image: url("/img/Skjermbilde 2025-03-17 130628.png"); 
    background-size: cover;
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-topp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-login {
 filter: invert();
}

.header-logo {
    filter: brightness(500%);
}

.header-bunn {
    text-align: right;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.info_1, .info_2 {
    padding: 20px;
    background-color: rgb(212, 212, 212);
    word-break: break-all;
}

.info_1 {
    margin-bottom: 20px;
}

.login_1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(222, 222, 222);
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
   justify-content: center;

}
