<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Din tittel her</title>
        <link rel="stylesheet" href="/style/style.css" />
        <link rel="icon" href="/img/favicon.svg" type="image/svg+xml" />
    </head>
    <body></body>
</html>
 <header>
  <div class="header-topp">
    <div class="header-logo"><img height="50px" src="/img/Logo.svg" alt="logo"></div>
  </div>
  <div class="header-bunn"><h1>Velkommen til NexaBlogg</h1></div>


</header>
<main>
  <a href="/nyBruker">ny bruker</a>
</main>
  <div class ="commentList" id="commentList"></div>

  <h1>Legg til en kommentar</h1>
  <!-- Skjema for å legge til ny kommentar -->
  <form onsubmit="submitComment(event)">
    <textarea id="Kommentar" required placeholder="Skriv din kommentar her..."></textarea>
    <br>
    <button type="submit">Legg til kommentar</button>
  </form>
  
  <p><a href="/logout">Logg ut</a></p>