<!DOCTYPE html>
<html lang="no">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Din tittel her</title>
        <link rel="stylesheet" href="/style/style.css" />

  <script src="script/get-comments.js">
    
  </script>
</head>
<body>
  <header>
  <h1>Velkommen til NexaBlogg</h1>
  </header>
  <main>
    <div class="info_1">
      <h1>Overskift_1</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam officiis, soluta excepturi alias non cumque explicabo porro facere tempora magni, quisquam ex praesentium mollitia iste error? Natus nemo illum doloremque!        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur sit, recusandae unde voluptatibus labore tempora similique earum cumque, quas tempore iure veritatis voluptas vel repudiandae dolorem atque. Quos, deserunt explicabo?</p>
    </div>
    <div class="info_2">
      <h1>overskrift_2</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem pariatur quas facere! Amet vitae dolorum aliquam laborum odio recusandae cum explicabo facilis? Consectetur alias asperiores neque, deleniti eum libero.</p>
    </div>
  </main>
  <footer>
    &copy; 08:12:2025
  </footer>
</body>
</html>
